*{
    font-family: Arial, Helvetica, sans-serif;
}


body{
    margin:0;
}
.socialmedia img{
    width:1.875rem;
}
a{
    text-decoration: none;
    color:black;
}
.header{
    display:flex;
    flex-direction: column;
    width: 100%;
}
.topheader{
    width:100%;
    display: flex;
    justify-content: flex-start;
}
.topheader li{
    display: inline;
    margin-left:1rem;
}
.mainheader{
    width:100%;
    display: flex;
    justify-content: center;
}
ul{
    list-style-type:none;
}
.mainheader li{
    display: inline;
    margin-left: 2rem;
    font-size: 1.5rem;
}
li:hover{
    opacity: 0.5;
}
#button{
    display:none;
}

.banner-container{
    background-color: black;
    background-image: url("banner.jpg");
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: 75rem 43.75rem;
    width:100%;
    height:43.75rem;
}

@media screen and (max-width: 71.875rem) {
    .mainheader{
        display:none;
    }
    #button{
        display:inline;
        position:absolute;
        right:35;
        top:12;
        margin-right:0.3125rem;
        width:1.875rem;
    }
    #button img{
        width:2.8rem;
    }
}




.main{
    display: flex;
    flex-direction: column;
}

.product-container{
    display: flex;
    flex-wrap: wrap;
    margin-top: 3.75rem;
    justify-content: center;
}

.products{
    display: flex;
    justify-content: center;
}
/*
.img-products{

}
*/
figure{
    display:flex;
    flex-direction: column;

}
figure:hover{
    cursor: pointer;
}


.products figcaption{
    background-color: rgba(0, 0, 0, 0.4);
    width:50%;
    backdrop-filter: blur(1rem);
    position:relative;
    bottom:4rem;
    text-align: center;
}  
.products figcaption h3{
    margin: 0.5rem;
    font-weight: bold;
    color:rgb(255, 255, 255);
}




.general-information-container{
    display: flex;
    justify-content: center;
    margin:3.75rem 0;
}
.general-information{
    display: flex;
    justify-content: center;
}

.general-information figcaption h3{
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    
}
.img-general{
    height:31.25rem;
    width:40rem;
    object-fit:cover;
}

#shifted{
    margin-top:8.125rem;
}

.img-general:hover,.img-products:hover{
    opacity: 0.5;
}



footer{
    display:flex;
    background-color:#5e556a;
    color:rgb(196, 190, 183);
    align-items: center;
    justify-content: center;
}
footer h5{
    margin-left:1rem;
}
.socialmedia_footer{
    margin-left:1rem;
}
footer img{
    margin-left:0.2rem;
    width:1.875rem;
}

footer img:hover{
    opacity: 0.5;
}

@media screen and (max-width: 91.25rem) {
    .img-products{
        width:21.875rem;
    }
    .img-general{
        height:26.25rem;
        width:34.8125rem;
    }
    .banner-container{
        background-size: 1200px 700px;
        width:100%;
        height:700px;
    }

    .products figcaption{
    width:70%;
    }

}

@media screen and (max-width: 78.125rem) {
    .img-products{
        width:18.75rem;
    }
    .img-general{
        height:21.875rem;
        width:30.4375rem;
    }
    .banner-container{
        background-size: 1200px 700px;
        width:100%;
        height:600px;
    }
}

@media screen and (max-width: 67.5rem) {
    .img-products{
        width:15rem;
    }
    .img-general{
        height:16.25rem;
        width:24.8125rem;
    }
    .banner-container{
        background-size: 1200px 700px;
        width:100%;
        height:600px;
    }
    .products figcaption{
        bottom:2rem;
        width:100%;
    }
}

@media screen and (max-width: 58.125rem) {
    .img-products{
        width:12.5rem;
    }
    .img-general{
        height:12.5rem;
        width:21.0625rem;
    }
    .banner-container{
        background-size: 1200px 700px;
        width:100%;
        height:600px;
    }
}

@media screen and (max-width: 47.5rem) {
    .img-products{
        width:31.25rem;
    }
    .products{
        flex-wrap: wrap;
    }
    .img-general{
        width:31.25rem;
        height:22.6875rem;
    }
    .general-information{
        flex-wrap:wrap;
    }
    #shifted{
        margin-top:0;
    }
    .banner-container{
        background-size: 1200px 700px;
        width:100%;
        height:600px;
    }
    .general-information-container {
        margin:1rem 0;
    }
    .general-information figcaption h3{
        font-family: 'Roboto', sans-serif;
        font-size: 1.7rem;
        margin:1rem 0;
    }
}

@media screen and (max-width: 33.125rem) {
    .img-products{
        width:25rem;
    }
    .products{
        flex-wrap: wrap;
    }
    .img-general{
        width:25rem;
        height:16.4375rem;
    }
    .general-information{
        flex-wrap:wrap;
    }
    #shifted{
        margin-top:0;
    }
    .banner-container{
        background-size: 1000px 500px;
        width:100%;
        height:450px;
    }
    .general-information-container {
        margin:2rem 0;
    }
    .general-information figcaption h3{
        font-family: 'Roboto', sans-serif;
        font-size: 1.4rem;
        margin:1rem 0;
    }
    footer h5{
        
        font-size:0.7rem;
    }
    .socialmedia_footer{
       margin:0.5rem;
    }

}







